*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --focus : #000;
}

body{
    position:absolute;
}

main{
    display: flex;
    align-items: center;
}

#dessert-container{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#dessert-container .card{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#dessert-container .card .image-wrapper .dessert-image{
    display: block;
    width: 190px;
    height: 200px;
    object-fit: cover;
}

 .plus,
.minus{
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.active_buttons{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 20px;
    margin: -20px auto 0 auto;
    z-index: 100;
    width: 130px;
    height: 40px;
    cursor: pointer;  
    background-color: hsl(7, 20%, 60%) ; 
}

#dessert-container .card .image-wrapper button{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin: -20px auto 0 auto;
    z-index: 100;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

#dessert-container .card .image-wrapper button img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#dessert-container .card .description-wrapper{
    margin-top: 10px;
}

#dessert-container .card .description-wrapper .name{
    font-size: 12px;
    font-style: italic;
    color: gray;
}

#dessert-container .card .description-wrapper img{
    height: 20px;
}

#cart-container{
    width: 300px;
    padding: 10px;
    align-self:flex-start;
    background-color: rgb(231, 231, 231);
    margin-top: 10px;
}

.empty-cart-img{
    width: max-content;
    display: block;
    margin: 0 auto;
}


.attribution {
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 0;
 }
.attribution a { color: hsl(228, 45%, 44%); }